[run]
branch = True
source = /project
omit = 
    /project/lib/pyswitch/hardware/*
    /project/lib/pymidibridge/*
    /project/lib/functools.py
    /project/test/test-examples/*
    
    #/project/test/*
    
[report]
show_missing = True
include_namespace_packages = True

[html]
directory = /project/test/report 
skip_empty = True
