.pyswitch-switches {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.pyswitch-switch {
    cursor: pointer;    
}

.pyswitch-switch:hover {
    border: 4px solid blue;
}
