
.midicaptain-nano-4 {        
    max-width: 700px;
}

.midicaptain-nano-4 #pyswitch-background {
    content: url("midicaptain-nano-4.png");
}

/****************************************************************/

.midicaptain-nano-4 #pyswitch-display {
    top: 49.3%;
    left: 50.04%;
    width: 19.7%;
}

/****************************************************************/

.midicaptain-nano-4 .pyswitch-switch {
    width: 16.5%;
    height: 0;
    padding-bottom: 16.5%;

    container-type: size;
    mask: radial-gradient(3.9cqw, #0000 98%, #000);
}

.midicaptain-nano-4 #pyswitch-switch-gp1 {
    top: 10.5%;
    left: 6.8%;
}

.midicaptain-nano-4 #pyswitch-switch-gp25 {
    top: 10.5%;
    right: 6.8%;
}

.midicaptain-nano-4 #pyswitch-switch-gp9 {
    bottom: 10.9%;
    left: 7%;
}

.midicaptain-nano-4 #pyswitch-switch-gp10 {
    bottom: 10.9%;
    right: 7.1%;
}

