
.midicaptain-nano-4 {    
}

.midicaptain-nano-4 #pyswitch-background {
    content: url("midicaptain-nano-4.png");
}

/****************************************************************/

.midicaptain-nano-4 #pyswitch-display {
    position: absolute;

    top: 49.3%;
    left: 50.04%;
    width: 19.7%;
    
    transform: translate(-50%, -50%);
}

/****************************************************************/

.midicaptain-nano-4 #pyswitch-switch-gp1 {
    top: 10.5%;
    left: 6.8%;
}

.midicaptain-nano-4 #pyswitch-switch-gp25 {
    top: 10.5%;
    right: 6.8%;
}

.midicaptain-nano-4 #pyswitch-switch-gp9 {
    bottom: 10.9%;
    left: 7%;
}

.midicaptain-nano-4 #pyswitch-switch-gp10 {
    bottom: 10.9%;
    right: 7.1%;
}

