
.midicaptain-nano-4 {
    position: relative;
    display: block;
    width: 1042px;
    height: 826px;

    background-image: url("midicaptain-nano-4.png");
}

/****************************************************************/

#pyswitch-display {
    position: absolute;

    top: 49.5%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0.85);
}

/****************************************************************/

.midicaptain-nano-4 #pyswitch-switch-gp1 {
    top: 110px;
    left: 96px;
}

.midicaptain-nano-4 #pyswitch-switch-gp25 {
    top: 110px;
    right: 96px;
}

.midicaptain-nano-4 #pyswitch-switch-gp9 {
    bottom: 110px;
    left: 96px;
}

.midicaptain-nano-4 #pyswitch-switch-gp10 {
    bottom: 110px;
    right: 96px;
}

/****************************************************************/

.midicaptain-nano-4 .pyswitch-switch {
    width: fit-content;
    
    position: absolute;
    width: 120px;
    height: 120px;
}

.midicaptain-nano-4 .pyswitch-switch .pyswitch-led {
    position: absolute;
    width: 50%;
    height: 50%;
}

.midicaptain-nano-4 .pyswitch-switch .pyswitch-led:nth-child(1) {
    top: 0;
    left: 0;
}

.midicaptain-nano-4 .pyswitch-switch .pyswitch-led:nth-child(2) {
    top: 0;
    right: 0;
}

.midicaptain-nano-4 .pyswitch-switch .pyswitch-led:nth-child(3) {
    bottom: 0;
    left: 25%;
}