.midicaptain {
    width: 90%;
}

.midicaptain #pyswitch-inputs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    container-type: size;
}

/****************************************************************/

.midicaptain #pyswitch-display {
    position: absolute;
    transform: translate(-50%, -50%);
}

/****************************************************************/

.midicaptain .pyswitch-switch {
    position: absolute;

    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

.midicaptain .pyswitch-switch:hover {
    outline: 4px solid rgba(255, 255, 255, 0.2);
}

.midicaptain .pyswitch-switch:active:hover {
    outline: 4px solid rgba(255, 255, 255, 0.8);
}

/****************************************************************/

.midicaptain .pyswitch-switch .pyswitch-led {
    position: absolute;
}

.midicaptain .pyswitch-switch .pyswitch-led:nth-child(1) {
    top: 0;
    left: 0;
    width: 50%;
    height: 70%;
}

.midicaptain .pyswitch-switch .pyswitch-led:nth-child(2) {
    top: 0;
    right: 0;
    width: 50%;
    height: 70%;
}

.midicaptain .pyswitch-switch .pyswitch-led:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
}