body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

#settings {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

#content {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: darkgray;
}

select {
    font-size: 20px;
}