
.midicaptain-nano-4 {        
    max-width: 700px;
}

.midicaptain-nano-4 #pyswitch-background {
    content: url("midicaptain-nano-4.png");
}

/****************************************************************/

.midicaptain-nano-4 #pyswitch-display {
    top: 49.3%;
    left: 50.04%;
    width: 19.7%;
}

/****************************************************************/

.midicaptain-nano-4 .pyswitch-switch {
    width: 16.5%;
    height: 0;
    padding-bottom: 16.5%;
}

.midicaptain-nano-4 #pyswitch-switch-gp1 {
    top: 10.5%;
    left: 6.8%;
}

.midicaptain-nano-4 #pyswitch-switch-gp25 {
    top: 10.5%;
    right: 6.8%;
}

.midicaptain-nano-4 #pyswitch-switch-gp9 {
    bottom: 10.9%;
    left: 7%;
}

.midicaptain-nano-4 #pyswitch-switch-gp10 {
    bottom: 10.9%;
    right: 7.1%;
}

.midicaptain-nano-4 #pyswitch-switch-gp9 .pyswitch-switch-visual,
.midicaptain-nano-4 #pyswitch-switch-gp10 .pyswitch-switch-visual {
    transform: rotate(180deg); 
}

/****************************************************************/

.midicaptain-nano-4 #pyswitch-switch-gp1 .pyswitch-parser-frontend {
    top: -100%;
    left: 0;
}

.midicaptain-nano-4 #pyswitch-switch-gp25 .pyswitch-parser-frontend {
    top: -100%;
    right: 0;
}

.midicaptain-nano-4 #pyswitch-switch-gp9 .pyswitch-parser-frontend {
    bottom: -100%;
    left: 0;
}

.midicaptain-nano-4 #pyswitch-switch-gp10 .pyswitch-parser-frontend {
    bottom: -100%;
    right: 0;
}