
.midicaptain-mini-6 {    
    max-width: 900px;
}

.midicaptain-mini-6 #pyswitch-background {
    content: url("midicaptain-mini-6.png");
}

/****************************************************************/

.midicaptain-mini-6 #pyswitch-display {
    top: 49.3%;
    left: 30.5%;
    width: 16%;
}

/****************************************************************/

.midicaptain-mini-6 .pyswitch-switch {
    width: 13.3%;
    height: 0;
    padding-bottom: 13.3%;
}

.midicaptain-mini-6 #pyswitch-switch-gp1 {
    top: 9.7%;
    left: 4.4%;
}

.midicaptain-mini-6 #pyswitch-switch-gp25 {
    top: 9.7%;
    left: 43.3%;
}

.midicaptain-mini-6 #pyswitch-switch-gp24 {
    top: 9.7%;
    right: 4.95%;
}

.midicaptain-mini-6 #pyswitch-switch-gp9 {
    bottom: 11.6%;
    left: 4.45%;
    transform: rotate(180deg);     
}

.midicaptain-mini-6 #pyswitch-switch-gp10 {
    bottom: 11.4%;
    left: 43.2%;
    transform: rotate(180deg); 
}

.midicaptain-mini-6 #pyswitch-switch-gp11 {
    bottom: 11.7%;
    right: 4.9%;
    transform: rotate(180deg); 
}
