
.midicaptain-10 {    
    max-width: 1000px;
}

.midicaptain-10 #pyswitch-background {
    content: url("midicaptain-10-silver.png");
}

/****************************************************************/

.midicaptain-10 #pyswitch-display {
    top: 49.5%;
    left: 39.8%;
    width: 8%;
    transition: all 0.2s;
}

.midicaptain-10 #pyswitch-display:hover {
    transform: translate(-50%, -50%) scale(2);
}

/****************************************************************/

.midicaptain-10 .pyswitch-switch {
    width: 7.5%;
    height: 0;
    padding-bottom: 7.5%;
}

.midicaptain-10 .pyswitch-potentiometer {    
}

/****************************************************************/

.midicaptain-10 #pyswitch-switch-gp1 {
    top: 15.7%;
    left: 4.9%;
}

.midicaptain-10 #pyswitch-switch-gp25 {
    top: 16.2%;
    left: 25.8%;
}

.midicaptain-10 #pyswitch-switch-gp24 {
    top: 16.4%;
    left: 46.3%;
}

.midicaptain-10 #pyswitch-switch-gp23 {
    top: 16.5%;
    left: 66.7%;
}

.midicaptain-10 #pyswitch-switch-gp20 {
    top: 16.1%;
    left: 87.4%;
}

/****************************************************************/

.midicaptain-10 #pyswitch-switch-gp9 {
    bottom: 16.4%;
    left: 4.98%;
}

.midicaptain-10 #pyswitch-switch-gp10 {
    bottom: 16.6%;
    left: 25.8%;
}

.midicaptain-10 #pyswitch-switch-gp11 {
    bottom: 16.45%;
    left: 46.2%;
}

.midicaptain-10 #pyswitch-switch-gp18 {
    bottom: 16.5%;
    right: 25.9%;
}

.midicaptain-10 #pyswitch-switch-gp19 {
    bottom: 16.4%;
    left: 87.3%;
}

.midicaptain-10 #pyswitch-switch-gp9 .pyswitch-switch-visual,
.midicaptain-10 #pyswitch-switch-gp10 .pyswitch-switch-visual,
.midicaptain-10 #pyswitch-switch-gp11 .pyswitch-switch-visual,
.midicaptain-10 #pyswitch-switch-gp18 .pyswitch-switch-visual,
.midicaptain-10 #pyswitch-switch-gp19 .pyswitch-switch-visual {
    transform: rotate(-60deg); 
}

/****************************************************************/

.midicaptain-10 #pyswitch-switch-gp1 .pyswitch-parser-frontend,
.midicaptain-10 #pyswitch-switch-gp25 .pyswitch-parser-frontend,
.midicaptain-10 #pyswitch-switch-gp24 .pyswitch-parser-frontend,
.midicaptain-10 #pyswitch-switch-gp23 .pyswitch-parser-frontend,
.midicaptain-10 #pyswitch-switch-gp20 .pyswitch-parser-frontend {
    top: -40%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.midicaptain-10 #pyswitch-switch-gp9 .pyswitch-parser-frontend,
.midicaptain-10 #pyswitch-switch-gp10 .pyswitch-parser-frontend,
.midicaptain-10 #pyswitch-switch-gp11 .pyswitch-parser-frontend,
.midicaptain-10 #pyswitch-switch-gp18 .pyswitch-parser-frontend,
.midicaptain-10 #pyswitch-switch-gp19 .pyswitch-parser-frontend {
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, 100%);
}

/****************************************************************/

.midicaptain-10 #pyswitch-potentiometer-gp27 {
    top: -45%;
    left: 3%;
}

/****************************************************************/

.midicaptain-10 .additional-inputs-link {
    top: 37%;
    left: 55%;
    height: 0;
    padding-bottom: 10%;
    width: 10%;

    border-radius: 100%;
}