:root {
    --elements-margin: 1em;
}

.container .application {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    container-type: size;
    
    display: block;
    background-color: white;
}

/**********************************************/

.container .application .headline {
    margin-top: var(--elements-margin);
    margin-left: var(--elements-margin);
    width: fit-content;
    display: inline-block;
}

.container .application .buttons {
    display: inline-block;
    margin-top: var(--elements-margin);
    margin-left: var(--elements-margin);
}

.container .application .buttons > * {
    margin-right: var(--elements-margin);
}

.container .application .buttons > *:last-child {
    margin-right: 0;
}

/**********************************************/

.container .application .about {
    float: right;
    margin-top: var(--elements-margin);
    margin-right: var(--elements-margin);

    text-align: right;
}

.container .application .about .version {
    font-size: 0.8em;
    opacity: 0.5;
    cursor: pointer;
}

.container .application .about .version:hover {
    text-decoration: underline;
}

.container .application .about .donate {
    font-size: 0.8em;
}
