:root {
    --elements-margin: 1em;
}

.container .application {
    position: relative;
    height: 100cqh;
    width: 100cqw;
    overflow: hidden;

    container-type: size;
    
    display: block;
    background-color: white;

    background-color: yellow;
}

.container .application.resizeable {
    resize: horizontal;
    width: unset;
}

/**********************************************/

.container .application .headline {
    margin-top: var(--elements-margin);
    margin-left: var(--elements-margin);
    width: fit-content;
    display: inline-block;
}

.container .application .buttons {
    display: inline-block;
    margin-top: var(--elements-margin);
    margin-left: var(--elements-margin);
}

.container .application .buttons > * {
    margin-right: var(--elements-margin);
}

.container .application .buttons > *:last-child {
    margin-right: 0;
}

/**********************************************/

.container .application .about {
    float: right;
    margin-top: var(--elements-margin);
    margin-right: var(--elements-margin);

    text-align: right;
}

.container .application .about .version {
    font-size: 0.8em;
    opacity: 0.5;
    cursor: pointer;
}

.container .application .about .version:hover {
    text-decoration: underline;
}

.container .application .about .donate {
    font-size: 0.8em;
}

/*********************************************/

.container .application .button {
    display: inline-block;
    padding: 0.4em 0.8em;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0.3em;

    background-color: #337ab7;
	border-color: #2e6da4;
    color: white;

    transition: background-color 0.1s, border-color 0.1s;
}

.container .application .button:hover {
    background-color: #6994ba;
    border-color: #8d9daa;
}

