.container .display-editor {
    background-color: yellow;
}

.container .display-editor .display-preview {
    background-color: rgb(240, 240, 240);

    display: inline-block;
    position: relative;
}

.container .display-editor .display-preview .display-element {
    position: absolute;
    padding: 0.4em;
    overflow: hidden;
}

/*.container .display-editor .display-preview .display-element:hover {
    background-color: rgba(88, 88, 88, 1);
}*/

.container .display-editor .display-preview .display-label {
    background-color: rgb(216, 216, 216);
    border: 1px solid black;
}

.container .display-editor .display-preview .selected {
    background-color: rgb(166, 166, 166);
}

