.container .list-block {
    position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(173, 173, 173, 0.95);
    z-index: 100;
}


.container .list-browser {
    position: absolute;

    top: 50%;
    left: 50%;
    
    width: 90vw;
    max-width: 500px;

    height: 90vh;
    max-height: 400px;
    
    transform: translate(-50%, -50%);

    z-index: 1000;

    padding: 1.5em;

    background-color: white;

    border-radius: 1.5em;
}

.container .list-browser.wide {
    max-width: 1400px;
    max-height: 1200px;
}

.container .list-browser.fullscreen {
    top: 3vh;
    bottom: 3vh;
    left: 3vh;
    right: 3vh;
    max-width: unset;
    width: unset;
    max-height: unset;
    height: unset;
    transform: unset;

}

/**************************************************************/

.container .list-browser .content {
    overflow-x: hidden;
    /*overflow-y: auto; */
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: auto;
    grid-template-rows: min-content auto;

    container-type: size;
    container-name: popup-content;
}

/**************************************************************/

.container .list-browser .headline {
    margin-bottom: 0.7em;
    font-weight: bold;
}

.container .list-browser .path {
    margin-bottom: 0.7em;
    color: gray;
}

/**************************************************************/

.container .list-browser .browser-content {
    display: grid;

    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    justify-items: stretch;

    min-height: 100%;
}

@container popup-content (max-width: 650px) {
    .container .list-browser .browser-content {
        grid-template-columns: auto;
        grid-template-rows: min-content min-content auto;
    }
}

/**************************************************************/

.container .list-browser .browser-content .path {
    grid-column: 1 / 3;
    grid-row: 1;
}

.container .list-browser .browser-content .table-container {
    grid-column: 1;
    grid-row: 2;

    overflow-y: auto;   
    overflow-x: hidden;
}

.container .list-browser .browser-content table {
    margin-bottom: 0.7em;
}

.container .list-browser .browser-content .right-side {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto min-content;
}

.container .list-browser .browser-content .buttons {
}

/**********************************************************************/

.container .list-browser .browser-content .info-panel {
    border: 1px solid gray;
    border-radius: 1em;
    padding: 1em;

    overflow: auto;

    background-color: rgb(250, 250, 250);
}

.container .list-browser .browser-content .info-panel.clickable {
    cursor: pointer;
}

.container .list-browser .browser-content .info-panel > * {
    overflow: auto;
    width: 100%;
    height: 100%;
}

/**********************************************************************/

@container popup-content (max-width: 650px) {
    .container .list-browser .browser-content .path {
        grid-column: 1;
        grid-row: 1;
    }
    
    .container .list-browser .browser-content .table-container {
        grid-column: 1;
        grid-row: 2;
        overflow-y: unset;
    }
    
    .container .list-browser .browser-content .right-side {
        grid-column: 1;
        grid-row: 3;
        min-height: 100cqh;
    }    
}

/**************************************************************/

.container .list-browser table {
    border-spacing: 0.7em 0.1em;
    border-collapse: separate;
}

.container .list-browser .listing-link {
    cursor: pointer;
    white-space: pre;
    margin-right: 1.2em;
}

.container .list-browser .listing-link:hover {
    text-decoration: underline;
}

.container .list-browser td {
    white-space: pre;    
}

.container .list-browser tr.selected .listing-link {
    color: rgb(150, 150, 150);
}

.container .list-browser .path > *:first-child{
    cursor: pointer;
    width: 2em;
    height: 2em;
    text-align: center;
    
    padding: 0.4em;
    border-radius: 0.5em;
    margin-right: 0.7em;
}

.container .list-browser .path > *:first-child:hover {
    background-color: lightgray;
}

.container .list-browser .path .path-link {
    cursor: pointer;
}

.container .list-browser .close-button {
    position: absolute;
    top: 1.7em;
    right: 1.7em;

    cursor: pointer;
    width: 2em;
    height: 2em;
    text-align: center;
    padding: 0.4em;
    border-radius: 0.5em;
    background-color: white;
}

.container .list-browser .close-button:hover {
    background-color: lightgray;
}

/*******************************************/

.container .list-browser td > .fa-play {
    color: lightgreen;
}

.container .list-browser td > .fa-info {
    cursor: pointer;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    font-size: 0.6em;
    
    padding: 0.4em;
    padding-left: 0.4em;
    border-radius: 0.5em;
}

.container .list-browser td > .fa-info:hover {
    background-color: lightgray;
}

.container .list-browser .about li {
    margin-bottom: 0.7em;
}