.application .pyswitch-parser-frontend {
    position: absolute;
}

/****************************************************************/

.application .pyswitch-parser-frontend .button {
    background-color: rgb(221, 221, 221);
	border-color: rgb(241, 241, 241);
    color: black;
}

.application .pyswitch-parser-frontend .button:hover {
    background-color: rgb(190, 190, 190);
	border-color: rgb(200, 200, 200);

}