.container .application .pyswitch-parser-frontend {
    position: absolute;
}

/****************************************************************/

.container .application .pyswitch-parser-frontend .action-grid {
    position: relative;
    /* min-height: 2em;
    min-width: 3em; */
    background-color: rgb(176 176 176);
    border-radius: 0.5em;
    transition: width 0.2s, height 0.2s;
}

.container .application .pyswitch-parser-frontend .action-grid .action-item {
    display: block;
    position: absolute;
    z-index: 1;   
    /* background-color: greenyellow; */
}

.container .application .pyswitch-parser-frontend .action-grid .action-item.muuri-item-dragging {
    z-index: 3;
}

.container .application .pyswitch-parser-frontend .action-grid .action-item.muuri-item-releasing {
    z-index: 2;
}
  
.container .application .pyswitch-parser-frontend .action-grid .action-item.muuri-item-hidden {
    z-index: 0;
}

.container .application .pyswitch-parser-frontend .action-grid .action-item-content {
    position: relative;
    margin: 0.3em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    /* grid-gap: 0.2em; */
}

.container .application .pyswitch-parser-frontend .action-grid .action-item-content > *:first-child {
    border-radius: 0.3em 0 0 0.3em;
}

.container .application .pyswitch-parser-frontend .action-grid .action-item-content > *:last-child {
    border-radius: 0 0.3em 0.3em 0;
}

/****************************************************************/

.container .application .pyswitch-parser-frontend .button {
    font-size: 0.8em;
    border: none;
}

/****************************************************************/

.container .application .pyswitch-parser-frontend .button.add-action {
    background-color: unset;
}

/* .container .application .pyswitch-parser-frontend .button.remove-action {
    background-color: unset;
} */

/*****************************************************************/


.container .application .pyswitch-parser-frontend .button.actions {
    background-color: rgb(221, 221, 221);
	/* border-color: rgb(241, 241, 241); */
    color: black;
}

.container .application .pyswitch-parser-frontend .button.actions:hover {
    background-color: rgb(207, 207, 207);
	/* border-color: rgb(200, 200, 200); */
}

.container .application .pyswitch-parser-frontend .button.actions-hold {
    background-color: rgb(92, 92, 92);
	/* border-color: rgb(141, 141, 141); */
    color: white;
}

.container .application .pyswitch-parser-frontend .button.actions-hold:hover {
    background-color: rgb(43, 43, 43);
	/* border-color: rgb(105, 104, 104); */
}


