.block {
    position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #aaa;
    opacity: 0.95;
	z-index: 100;
}

.progressBar {
	display: block;
	
	position: absolute;
	top: 50%;
	left: 50%;
	height: 1em;
	width: 50%;
}

.progressBar > * {
	display: block; 
	
	position: relative;
	top: -50%;
	left: -50%;
	height: 100%;
}

.progressBar > * > * {
	position: absolute;
	top: 0;
	left: 0;
	
	background: #000;
	
	border-radius: 1em;
	
	height: 100%;
	width: 100%;	
	overflow: hidden;
}

.progressBar > * > * > * {
	position: absolute;
	top: 0;
	left: 0;
	
	height: 100%;
	width: 0;
	background: #c0ff61;
	
	transition: width 0.06s;
}

.progressMessage {
	display: block;
	
	position: absolute;
	top: 50%;
	left: 25%;
	width: 50%;

	transform: translateY(20px);
	color: white;

	text-align: center;
}