.container .virtual-client {
    height: 100%;
    
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    /* background-color: darkgray; */
    padding: 1em;
}

/* .container .virtual-client::before {
    content: "Virtual Profiler Player";
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
} */

.container .virtual-client .box {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 0.5em 1em;

    border-radius: 0.3em;
    
    padding: 0.5em;
    margin: 0.1em;

    width: fit-content;

    background-color: lightgray;    

    
}


.container .virtual-client .box * {
    font-weight: normal;
    text-align: left;
}

.container .virtual-client .box .title {
    grid-column: 1 / 3;
    grid-row: 1;
    font-weight: bold;    
}

.container .virtual-client .box .label {
    color: black;
    grid-column: 1;
}

.container .virtual-client .box input {
    position: relative;

    top: -0.2em;
    grid-column: 2; 
    height: fit-content;
}

.container .virtual-client .box input[type="checkbox"] {
}

.container .virtual-client .box input[type="text"] {
    width: 4em;
    font-size: 0.7em;
}

.container .virtual-client .box input[type="text"].longtext {
    width: unset;
    font-size: 0.7em;
}

